body {
background-color: rgb(202, 196, 196);
font-family: sans-serif;
margin-left: 2cm;
} 

.main {
  display: flex;
}

.cont {
  font-size: 25px;
  position: relative;
}

.generator-image {
  width: 250px;
  height: 250px;
  margin: 2px;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  font-size: 25px;
  position: absolute;
  right:20px;
  top:75px;
}

.new-element {
  width: 100px;
  height: 100px;
  margin: 2px;
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background: rgb(255, 191, 0);
  font-size: 25px;
  text-align: center;
  line-height: 100px;
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}
.new-element:nth-child(odd) {
  background:rgb(172, 51, 51);
}

.new-element:hover {
  transform: translateY(-5px);
}

.cont::before {
  float: left;
  height: 100%;
} 

button {
  background-color: rgb(255, 191, 0);
  border: none;
  color: rgb(178, 17, 17);
  font: bold;
  border: 2px solid rgb(178, 17, 17);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform ease 0.5s, box-shadow ease 0.5s;
  width: 6.5cm;
  margin-left: 3cm;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.title {
  font-family: "helvetica neue", helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 200, 0.6);
  margin: 0;
  padding: 0;
}

.p {
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  }

.footer {
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(0, 0, 200, 0.6);
  margin: 0;
  padding: 0;
  }

.label {
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  }

.numeric-input{
  width: 5cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  line-height: 2;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.numeric-input::placeholder {
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  }

label {
  display: flex;
  margin-left: 20px;
  ;
}

.inputBox{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3cm;

}

.instructionBox {
  position: relative;
  padding: 10px;
  display: grid;
  width: 60%;
  font-size: 15px;
  border: 1px solid black;
  line-height: 1.5em;
  background-color: rgb(255, 191, 0);
  margin: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.column {
  float: left;
}

.left {
  width: 50%;
  padding: 10px;
}
.right {
  width: 50%;
  padding: 10px;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  margin-top: 15px;
}

.h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

@media (max-width: 401px) {
  .generator-image{
    display:none;
  }
  
  .main {
    flex-direction: column;
    display: flex;
  }
  .h1{
    margin-top: 15px;
    margin:5px;
  }

 .innerText {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
  }
  .title {
    font-size: 15px;
    margin:5px;
  }
  .p {
    font-size: 15px;
    margin:5px;
  }

  .footer {
    font-size: 10px;
  }

  .label {
    font-size: 14px;
    margin:5px;
  }

  .inputBox {
    margin-left: 1.5cm;
  }

  button {
    width: 5.5cm;
    margin-left: 1cm;
    font-size: 15px;
  }
  .numeric-input {
    width: 4cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    line-height: 2;
    font-size: 14px;
  }

  .footer {
    font-size: 10px;
  }  
}

@media (min-width: 401px) and (max-width: 601px){

  .generator-image{
    display:none;
  }
  .main {
    flex-direction: column;
    display: flex;
  }
  
  body{
    background-color: rgb(160, 160, 160);
    font-family: sans-serif;
  }
  .h1{
    margin-top: 15px;
    margin:5px;;
  }
 .innerText {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
  }
  .title {
    font-size: 15px;
    margin:5px;
  }
 .p {
    font-size: 15px;
    margin:5px;
  }

  .footer {
    font-size: 12px;
  }

  .label {
    font-size: 14px;
    margin:5px;
  }

  .inputBox {
    margin-left: 1.5cm;
  }

  button {
    width: 6cm;
    margin-left: 1cm;
    font-size: 15px;
  }
  .numeric-input {
    width: 4cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    line-height: 2;
    font-size: 14px;
  }
  .instructionBox {
    margin-left: 0.5cm;
  }
}

@media (min-width: 601px) and (max-width: 800px){
  .generator-image{
    width: 150px;
    height: 150px;
  }
  .main {
    flex-direction: column;
    display: flex;
  }

  .body{
    background-color: rgb(200, 200, 200);
    font-family: sans-serif;
  }
  .h1{
    margin-top: 15px;
    margin:5px;
  }
  .innerText {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
  }     
  title {
    font-size: 30px;
    margin: 5px;
  }
  .p {
    font-size: 15px;
    margin: 5px
  }
  .footer {
    font-size: 12px;
  }
  .instructionBox {
    font-size: 16px;
    margin: 5px;
  }
}

@media (min-width: 801px) {
  .main {
    flex-direction: column;
    display: flex;
  }
  .body{
    background-color: rgb(180, 180, 180);
    font-family: sans-serif;
  }

  .h1{
    margin-top: 15px;
    margin:5px;
  }

  .innerText {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
  }
  .title {
    font-size: 30px;
    margin: 5px;
  }
  .p {
    font-size: 15px;
    margin: 5px;
  }
  .footer {
    font-size: 15px;
  }
  .instructionBox {
    font-size: 16px;
    margin: 5px;
  }
  .generator-image{
   margin: -8px;
  }
}

